#header {
	height: 50px;
}

.layoutElement {
	border: 2px solid red;
}

.contentElement {
	border: 2px solid black;
}

.navRow {
	margin-top:10px;
	margin-bottom: 10px;
}

.product {
	background-color: lightblue;
	border: 2px solid black;
}